<% include partials/header %>
<div class="ui main text container">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" style="width:450px; height: 375px;">   
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>    
            </div>
            <div>
                <a class="ui blue basic button" href="/blogs">Go Back</a>
                <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
                <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="ui red basic button">DELETE</button>   
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>